<div>
    <h1>{{ thread.title }} (by {{ thread.username }})</h1>
    <p>
        <h4>QR Code</h4>
        <qrcode version="40" size="200" data="{{currentLocation}}" href="{{currentLocation}}"></qrcode>
    <img src="food cloud.jpg" style="width:300px;height:200px;">>
    </p>
    <form name="newCommentForm">
        <input type="text" ng-model="newCommentText" placeholder="Write a comment..." required/>
        <input type="text" ng-model="cookie" readonly/>
        <button ng-disabled="newCommentForm.$invalid" ng-click="createComment(newCommentText)">Add Comment</button>
    </form>

    <ul>
        <li ng-repeat="comment in comments">{{ comment.username }}: {{ comment.text }}</li>
    </ul>
</div>
