<div>
    <h1>{{ thread.title }} (by {{ thread.username }})</h1>
    <p>
    <h4>QR Code</h4>
    <qrcode version="4" size="200" data="{{thread.title}}" href="{{thread.title}}"></qrcode>></qr>
    </p>
    
    <form name="newCommentForm">
        <input type="text" ng-model="newCommentText" placeholder="Write a comment..." required/>
        <input type="text" ng-model="username" placeholder="Username..." required/>
        <button ng-disabled="newCommentForm.$invalid" ng-click="createComment(username, newCommentText)">Add Comment</button>
    </form>

    <ul>
        <li ng-repeat="comment in comments">{{ comment.username }}: {{ comment.text }}</li>
    </ul>
</div>